html, body {
  height: 100%;
  overflow: hidden; }

.row-no-padding {
  margin: 0 !important; }
  .row-no-padding .col-sm-3, .row-no-padding .col-sm-9 {
    padding-left: 0 !important;
    padding-right: 0 !important; }

.padding {
  padding: 5px; }

.tool-container {
  padding: 60px 10px; }

.canvas-container {
  overflow: scroll;
  height: 100vh;
  padding-top: 50px;
  position: relative; }

.canvas {
  width: 3000px;
  height: 3000px;
  background: white url(../img/grid20.png) 0 0;
  position: relative; }

.stitch {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black; }

.color-sample {
  width: 50px;
  height: 50px;
  display: block;
  margin-right: 10px; }
